.big-picture{
  width: 100%;
}

.main{
  margin : 0 15%;
}
.reserch{
  width: 10%; 
  border: 1px solid black;
  border-radius: 20px;
  padding:3px 10px;
}

.focus_square{
  width: 50%;
  height: 311px;
  border: 1px solid black;
  margin-top: 0.1px;
  border-radius: 10px;
  overflow-y: scroll;
}
.border{
  width: 100%;
  margin-top: 5px;
  border-bottom: 0.5px solid black;
}
.search{
  width: 96%;
  font-size: large;
  padding:5px 5px;
  margin: 5px auto 0 auto;
  display: block; 
}
.searchListBox {
display: flex;
flex-direction: column;
gap: 33px;
font-size: 25px;
padding:17px 0px 5px 10px;
}

/* .searchListBox [type="checkbox"] {
  width: 100px;
} */
input[type=checkbox] {
  width: 26px;
  height: 26px;
  vertical-align: middle;
}
.resultBox{
  width: 49%;
  border: 1px solid black;
  margin-top: 1px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 17px 0px 17px 1%;
}
.searchList{
  background-color: #d9d9d9;
  height: 27px;
  padding: 8px 10px 0px 5px;
  border-radius: 5%;
}
.batten{
  width: 10px;
  height: 10px;
  color: white;
  margin-left: 7px;
  border: 1px solid black;
  padding: 3px 4.915px;
  border-radius: 50%;
  background-color: black;
}

.displayNone {
  display: none;
}

.base{
  display: flex;
}

.ResearchResult{
  width: 47%;
  border: 1px solid black;
  margin-left: 2%;
  border-radius: 10px;
} 

.friends{
  margin-top: 10%;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.friends::before{
  border-top: 3px solid;
  content: "";
  width: 40%;
  margin-right: 1em;
}

.friends::after {
  border-top: 3px solid;
  content: "";
  width: 40%;
  margin-left: 1em;
}

.wrap{
  display: flex;
  overflow: hidden;
}

.slide-paused:hover .slideshow {
  animation-play-state: paused;
}

.slideshow {
  display: flex;
  animation: loop-slide 50s infinite linear 1s both;
  gap: 20px;
  list-style: none;
  text-align: center;
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.content {
  height: 300px;
  border-radius: 10%;
  display: block;
}

.content-hover {
    transition: all 0.2s;
}
.content-hover:hover {
    transform: translateY(-20px);
    border-radius: 0 10%;
    box-shadow: 0 3px 10px 0 #333;
    opacity: 0.8;
    cursor: pointer;
  }

.same{
  margin-top: 20%;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.same::before{
  border-top: 1px solid;
  content: "";
  width: 35%;
  margin-right: 1em;
}
  
.same::after{
  border-top: 1px solid;
  content: "";
  width: 35%;
  margin-left: 1em;
}

.white{
  background-color: #ffffff;
  width: 60vw;
  height: 70vh;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  z-index: 1000;
  border-radius: 4%;
  background-image: url(../img/posse2.png);
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: right 10% bottom 10%;
}

.gray{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
}

.batsu{
  width: 3vw;
  height: 6vh;
  position: absolute;
  top: 0%;
  right: 0%;
  padding-top: 1%;
  padding-right: 1%;
}

.photo{
  height: 60vh;
  object-fit: contain;
  margin-top: 5vh;
  margin-left: 10vh;
  border-radius: 8%;
  
}

.info{
  margin-top: -45%;
  margin-left: 50%;
  height: 30vh;
}

.name{

}

.univ{

}

.from{

}

.birthday{

}

.hobby{

}
