.body{animation: bgchange 20s ease infinite;
  }
  
@keyframes bgchange{
  0%   {background:#fef6e4;}
  25%  {background:#e3f6f5;}
  50%  {background:#fadbd5;}
  75%  {background:#ffffac;}
  90%  {background:#f9d0fe;}
  100% {background:#aedbbc;}
}

.header{
  width: 100%;
  height: 10%;
  background: #ffffff;
  position: fixed;
  z-index: 100;
  box-shadow: 3px 3px 3px rgb(204 204 204);
}

.top{
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.page-logo{
  display: flex;
}

.logo{
  width: 25%;
  margin-top: -15%;
  margin-left: 2%;
}

.two{
  margin-top: 2%;
  width: 7%;
  height: 25%;
}

.three{
  margin-top: 2%;
  width: 8%;
  height: 25%;
}

.rd{
  margin-top: 2%;
  font-size: 20px;
  color: #fab031;
}

.page-link{
  width: 50%;
  display: flex;
  justify-content: center;
}

.page-link li{
  list-style: none;
}

.page-link li a{
  color: #333;
  padding:0 20px;
  text-decoration: none;
}

.page-link li a::before{
  content:'▼';
  font-size:0.8rem;
  padding:0 10px 0 0;
  color: #ccc;
}

.sticker{
  width: 10%;
  margin-top: 1%;
  margin-right: 1%;
}

.title{
  text-align: center;
  margin-top: -45%;
  margin-bottom: 30%;
  color: #DDDDDD;
  font-family: 'Kaisei Opti', serif;
}

.title-main{
  font-size: 100px;
}

.title-sub{
  font-size: 40px;
}

.big-picture{
  width: 100%;
  animation: fadeIn 8s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

.main{
  margin : 0 15%;
  font-family: 'Kaisei Opti', serif;
}
.reserch{
  width: 10%; 
  border: 1px solid black;
  border-radius: 20px;
  padding:3px 10px;
}

.focus_square{
  width: 100%;
  height: 311px;
  border: 1px solid black;
  margin-top: 0.1px;
  border-radius: 10px;
  overflow-y: scroll;
}
.border{
  width: 100%;
  margin-top: 5px;
  border-bottom: 0.5px solid black;
}
.search{
  width: 96%;
  font-size: large;
  padding:5px 5px;
  margin: 5px auto 0 auto;
  display: block; 
}
.searchListBox {
display: flex;
flex-direction: column;
gap: 33px;
font-size: 25px;
padding:17px 0px 5px 10px;
}

input[type=checkbox] {
  width: 26px;
  height: 26px;
  vertical-align: middle;
}
.resultBox{
  width: 100%;
  border: 1px solid black;
  margin-top: 1px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 17px 0px 17px 0%;
}
.searchList{
  background-color: #d9d9d9;
  height: 27px;
  padding: 8px 10px 0px 5px;
  border-radius: 5%; 
  margin-left: 2%;
}
.batten{
  width: 10px;
  height: 10px;
  color: white;
  margin-left: 7px;
  border: 1px solid black;
  padding: 3px 4.915px;
  border-radius: 50%;
  background-color: black;
}
.displayNone {
  display: none;
}
.base{
  display: flex;
  width: 100%;
}
.baseLeft{
  width: 50%;
}

.ResearchResult{
  width: 50%;
  height: 313px;
  border: 1px solid black;
  margin-left: 2%;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
} 

.imgEveryone{
  aspect-ratio: 3/4;
  width: 18%;
  height: fit-content;
  border-radius: 20%;
  border: 2px solid black;
  margin: 20px 12px 20px 16px;
} 
.searchSamePoint{
  text-align: center;
  
}

.friends{
  margin-top: 20%;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.friends::before{
  border-top: 2px solid;
  content: "";
  width: 40%;
  margin-right: 1em;
}

.friends::after {
  border-top: 2px solid;
  content: "";
  width: 40%;
  margin-left: 1em;
}

.friends-text, .game-message{
  text-align: center
}

.wrap{
  display: flex;
  overflow: hidden;
}

.slide-paused:hover .slideshow {
  animation-play-state: paused;
}

.slideshow {
  display: flex;
  animation: loop-slide 80s infinite linear 1s both;
  gap: 20px;
  list-style: none;
  text-align: center;
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.content {
  height: 300px;
  border-radius: 10%;
  display: block;
}

.content-hover {
    transition: all 0.2s;
}
.content-hover:hover {
    transform: translateY(-20px);
    border-radius: 0 10%;
    box-shadow: 0 3px 10px 0 #333;
    opacity: 0.8;
    cursor: pointer;
  }

.same{
  margin-top: 20%;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
  

}
  
.same::before{
  border-top: 2px solid;
  content: "";
  width: 35%;
  margin-right: 1em;
  

}
  
.same::after{
  border-top: 2px solid;
  content: "";
  width: 35%;
  margin-left: 1em;
  

}

.white{
  background-color: #ffffff;
  width: 60vw;
  height: 70vh;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  z-index: 1000;
  border-radius: 4%;
  background-image: url(../img/posse2.png);
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: right 10% bottom 10%;
}

.gray{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
}

.batsu{
  width: 3vw;
  height: 6vh;
  position: absolute;
  top: 0%;
  right: 0%;
  padding-top: 1%;
  padding-right: 1%;
}

.photo{
  height: 60vh;
  object-fit: contain;
  margin-top: 5vh;
  margin-left: 10vh;
  border-radius: 10px;
}

.info{
  margin-top: -47%;
  margin-left: 50%;
  height: 30vh;
}

.games{
  margin-top: 20%;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
  

}
  
.games::before{
  border-top: 2px solid;
  content: "";
  width: 35%;
  margin-right: 1em;
  

}
  
.games::after{
  border-top: 2px solid;
  content: "";
  width: 35%;
  margin-left: 1em;
  

}

.game_button_container{
  display: flex;
  /* gap: 10px */
  justify-content: space-around;
  padding: 4%;
}

.button01{
  width: 20vw;
  height: 10vh;
  text-align: center;
  padding: 10px 30px;
  background-color: white;
  display: block;
  text-decoration: none;
  color: black;
  display: flex;  
  align-items: center;
  border-radius: 7px;
  
}

.button02{
  width: 20vw;
  height: 10vh;
  text-align: center;
  padding: 10px 30px;
  background-color: white;
  display: block;
  text-decoration: none;
  color: black;
  display: flex;  
  align-items: center;
  border-radius: 7px;
}


.footer_container{
  width: 100%;
  height: 10%;
  background: #ffffff;
  /* position: fixed; */
  /* z-index: 1; */
  box-shadow: 3px 3px 3px rgb(204 204 204);
}

.page-logo-footer{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-top: 5%;
  padding-bottom: 3%;
}

.two-footer{
  width: 2.5%;
  height: 2.%;
}

.three-footer{
  width: 3.2%;
  height: 3.2%;
}

.rd-footer{
  color: #fab031;
}

.page-link-footer{
  width: 50%;
  display: flex;
  justify-content: center;
  margin-left: 20%;
}

.page-link-footer li{
  list-style: none;
}

.page-link-footer li a{
  color: #333;
  padding:0 20px;
  text-decoration: none;
}

.page-link-footer li a::before{
  content:'▼';
  font-size:0.8rem;
  padding:0 10px 0 0;
  color: #ccc;
}

.sticker-footer{
  width: 10%;
  margin-left:45% ;
  padding-bottom: 5%;
}

@media screen and (max-width: 768px) {
  .page-link, .sticker{
    display: none;
  }

  .header, .two, .three, .rd{
    display: none;
  }

  .title{
    margin-top: -5%;
    margin-bottom: 30%;
    color: #008080;
  }

  .title-main{
    font-size: 40px;
  }
  
  .title-sub{
    font-size: 20px;
  }

  .friends, .same, .games{
    font-size: 20px;
  }
  
  .friends::before{
    width: 20%;
  }
  
  .friends::after{
    width: 20%;
  }

  .same::before{
    width: 10%;
  }

  .same::after{
    width: 10%;
  }

  .friends-text{
    font-size: 12px;
  }

  .batsu{
  width: 6vw;
  height: 3vh;
  }

  .photo{
  height: 30vh;
  margin-top: 4vh;
  margin-left: 6vh;
  }

  .info{
    font-size: 11px;
    line-height: 1.5ch;
    padding-top: 50%;
    margin-left: 20%;
  }

  .white{
    background-image: none
  }

  .games::before{
    width: 20%;
  }

  .games::after{
    width: 20%;
  }

  .page-link-footer{
    display: none;
  }

  .sticker-footer{
    display: none
  }

  .page-logo-footer{
    height: 13px;
  }
  
  .two-footer{
    width: 15px;
    height: 15px;
  }
  
  .three-footer{
    width: 17px;
    height: 16px;
  }

  .rd-footer{
    display: none;
  }
  
}
